<section class="hero">

    <div class="hero-overlay"></div>

    <div class="hero-content">

        <span class="hero-badge">
            🎬 Featured Today
        </span>

        <h1 class="hero-title">
            INTERSTELLAR
        </h1>

        <p class="hero-description">

            A team of explorers travel beyond our galaxy
            in search of humanity's future.

        </p>

        <div class="hero-meta">

            ⭐ 8.7

            <span>•</span>

            Sci-Fi

            <span>•</span>

            2h 49m

            <span>•</span>

            Multi Audio

        </div>

        <div class="hero-buttons">

            <button class="watch-btn">

                ▶ Watch Now

            </button>

            <button class="info-btn">

                ⓘ More Info

            </button>

        </div>

    </div>

</section>